.logo{
    font-family: 'Oswald', sans-serif;;
    color: #ffff;
      position: relative;
     
  }
  .logo-container .logo{
      margin-right: 2rem;
  }
  .freight{
   font-family: Oswald;
   text-transform: uppercase;
   font-size: 14px;
   letter-spacing: 2px;
  }
  .send{
      font-family: Oswald;
      font-weight: bolder;
      font-size: 1.2rem;
  }
  .fa-search{
  display: block;
  position: relative;
  right: 2rem;
  top: 11px;
  color: white;
  opacity: 0.8;
  }
  .logo-container{
      display: flex;
      align-items: center;
      flex: 1;
  }
  nav{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;   
      background-color: #0746a7;
      position: relative;
      padding: 15px 30px;
  }
  .logo-container .search_box input{
      height: 38px;
      width:70%;
      color: #ffff;
      background-color: rgb(255,255,255, 0.2);
      outline:none;
      border: none;
      padding-left: 1.5rem;
      transition: width 0,3s ease;
  }
  
  .logo-container .search_box input::placeholder{
      color: white;
      opacity: 0.3;
      font-family: 'Open Sans', sans-serif;
  }
  .search_box{
      display: flex;
      width: 70%;
  }
  
  .btn-container{
      position: relative;
  }
  .btn-one{
    border-radius: .4rem;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    outline: none;
    margin-right: 2rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid #ffff;
    cursor: pointer;
  
  }
  .btn-one:hover{
   transition: all 0.5s ease-out;
   background-color:#5cc684 ;
  }
  .btn-two{
    border-radius: .4rem;
    background-color: #5cc684;
    font-family: 'Open Sans', sans-serif;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid #ffff;
    cursor: pointer;
  }
  .btn-two:hover{
   transition: all 0.5s ease-out;
   background-color:transparent ;
   color:yellow;
   border: 1px solid #5cc684;
  }
  
  .logo-container {
      width: 100%;
  }
  .logo-container input{
      width: 50%;
  }
  
  
  /* @media (min-width:1025px) {
      .logo {
          margin-right: 6rem !important
      }
  } */

  @media only screen and (max-width: 1024px) {
    

    .search_box { width: calc(100% - 500px); }
  }

  @media only screen and (max-width: 860px) {
    .search_box { display: none; }

    
  }

  @media only screen and (max-width: 480px) {
    .Header-container {
      padding: 0 12px;
      text-align: center;
    }

}